<%- include('bootheader') -%>
<%- include('menubar') -%>

<div class="jumbotron">
        <h1>Eric Hu</h1>
        <p>A little about me...</p>
</div>

<div class="row">

  <div class = col>
  <img src="https://scontent-sea1-1.xx.fbcdn.net/v/t1.6435-9/60493710_878729542472980_747570192086728704_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=Ns8ZYmFlCJwAX-VjVfK&_nc_ht=scontent-sea1-1.xx&oh=bbeba84822f2ccf81cbe5e40292c0135&oe=60DD0167" width ="400" alt="Profile Picture">
  </div>

  <div class= "col bg-secondary text-light">
    <h2>Hi...</h2>
    <br>
    <p>I'm currently a student at Brandeis Universiy <br>
    Right now, I am a rising junior pursing a degree in Computer Science <br>
    I ran both cross country and track and field in high school <br>
    My time spent running was the inspiration for me to create RunApp <br>
    Fun Fact!: I am ambidextrious at scooping ice cream</p>
  </div>
</div>

<div class="row">
  <p>You can connect with me at: <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">erichu@brandeis.edu</a></p>
</div>

<%- include('bootfooter') -%>