<%- include('bootheader') -%>
<%- include('menubar') -%>

<div class="jumbotron">
        <h1>Eric Hu</h1>
        <p>A little about me...</p>
</div>

<div class="row">

  <div class = col>
  <img src="/images/ProfilePicture.jpg" width ="400" alt="Profile Picture">
  </div>

  <div class= "col bg-secondary text-light">
    <h2>Hi...</h2>
    <br>
    <p>I'm currently a student at Brandeis Universiy <br>
    Right now, I am a rising junior pursing a degree in Computer Science <br>
    I ran both cross country and track and field in high school <br>
    My time spent running was the inspiration for me to create RunApp <br>
    Fun Fact!: I am ambidextrious at scooping ice cream</p>
  </div>
</div>

<div class="row">
  <p>You can connect with me at: <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">erichu@brandeis.edu</a></p>
</div>

<%- include('bootfooter') -%>