

  <div class="jumbotron">
    <h1> Running Application </h1>
    <p> This app is used to track information about your running progress </p>
    <ul>
      <li><a href="/testing">Testing</a></li>
      <% if (loggedIn) {%>
      <li><a href="/run"> Log your run!</a></li>
      <li><a href="/profile">See your profile </a></li>
      <li><a href="/profiles">See everyone's profile</a></li>
      <li><a href="/todo">See your to do list </a></li>
      <li><a href="/todoAjax">See your to do list with Ajax </a></li>
      <% } %>
    </ul>
  </div>
